language: php

matrix:
  include:
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4

jobs:
  allow_failures:
    - php: nightly

sudo: required

git:
    depth: 1

cache:
  directories:
    # speed
    - $HOME/.composer/cache/files

before_install:
  - sudo apt-get update -q -y
  - sudo apt-get install -q -y graphviz raptor2-utils

before_script:
  - travis_retry composer install --no-interaction --prefer-dist

script:
  - make lint
  - vendor/bin/phpstan analyze -c phpstan.neon
  - vendor/bin/phpunit --coverage-clover gen/coverage/clover.xml

after_success:
    # Submit coverage report to Coveralls servers, see .coveralls.yml
    - travis_retry php vendor/bin/php-coveralls -v
