language: php

php:
  - 7.0
  - 7.1
  - 7.2

jobs:
  include:
    - php: 7.3
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.4
      env: LINTER_RUN=run COVERAGE_RUN=run
    - php: nightly
  fast_finish: true
  allow_failures:
    - php: nightly

sudo: required

git:
    depth: 1

cache:
  directories:
    # speed
    - $HOME/.composer/cache/files

before_install:
  - sudo apt-get update -q -y
  - sudo apt-get install -q -y graphviz raptor2-utils
  - bash .travis.install_and_start_fuseki.sh

before_script:
  - travis_retry composer install --no-interaction --prefer-dist $COMPOSER_FLAGS

script:
  - if [ "$LINTER_RUN" = "run" ]; then make lint ; fi;
  - if [ "$LINTER_RUN" = "run" ]; then composer phpstan ; fi;
  - if [ "$COVERAGE_RUN" = "run" ]; then composer phpunit-with-coverage ; fi;
  - if [ "$COVERAGE_RUN" != "run" ]; then composer phpunit ; fi;

after_success:
    # Submit coverage report to Coveralls servers, see .coveralls.yml
    - travis_retry php vendor/bin/php-coveralls -v
