language: php

matrix:
  include:
    - php: 5.5
      dist: trusty
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4

jobs:
  allow_failures:
    - php: nightly
  include:
    - php: 7.4
      env: LINTER_RUN=run
      env: COVERAGE_FLAGS="--coverage-clover coverage/clover.xml"

git:
    depth: 1

cache:
  directories:
    # speed
    - $HOME/.composer/cache/files

before_install:
  - sudo apt-get update -q -y
  - sudo apt-get install -q -y graphviz raptor2-utils

before_script:
  - travis_retry composer install --prefer-dist --no-progress --no-suggest --optimize-autoloader

script:
  - make lint
  - if [ "$LINTER_RUN" = "run" ]; then php vendor/bin/php-cs-fixer fix --verbose --dry-run ; fi;
  - php vendor/bin/phpunit $COVERAGE_FLAGS

after_success:
    # Submit coverage report to Coveralls servers, see .coveralls.yml
    # only if COVERAGE_FLAGS variable is set.
    - if [ ! -z "${COVERAGE_FLAGS}" ]; then travis_retry php vendor/bin/php-coveralls -v ; fi;
